#Imagor shumc/imagor:latest
PORT: 8000 
IMAGOR_SECRET: WpozRdSDvTKVEPkOQ+/mSWEzIPdjXRFhYLB62XBN12knQ2SRvjMmsOJ/kNJT8UgI
AWS_ACCESS_KEY_ID: 415efd2219d218600c53964e88d8fe82
AWS_SECRET_ACCESS_KEY: 78b72539f2b1daef78868904b452592790d62e00b404455e1a0384bd14f264bf
AWS_REGION: us-east-1
S3_LOADER_BUCKET: affinew
S3_STORAGE_BUCKET: affinew
S3_STORAGE_BASE_DIR: imagor
S3_RESULT_STORAGE_BUCKET: affinew
S3_RESULT_STORAGE_BASE_DIR: imagor/result
S3_RESULT_STORAGE_ACL: public-read
S3_ENDPOINT: https://9a489bdeb68e9c3976091df2de6de7d8.r2.cloudflarestorage.com
S3_FORCE_PATH_STYLE:
DEBUG: 0


#ElasticSearch docker.elastic.co/elasticsearch/elasticsearch-wolfi:8.17.4
discovery.type=single-node
xpack.security.enabled=true
bootstrap.memory_lock=true
ES_JAVA_OPTS=-Xms4096m -Xmx4096m
ELASTIC_PASSWORD=jDd6frWv_D8Kh7hPykfQ


# Application Server Configuration
PHX_SERVER=true

# Database Configuration
DATABASE_URL=postgresql://postgres:99b2589cea695493a48d963839fd14ff5@moly-moly-database-q3sbfw:5432/affinew
POOL_SIZE=10
ECTO_IPV6=false

# Secret Key Base
SECRET_KEY_BASE=XB8nDg6KXBI2p0qHRF1Bf6pz40+ecDfcElioGjYNitV35crjiHswqH/mDPg1yo1v

# Endpoint Configuration
PHX_HOST=pre.affinew.com
PORT=4000
#DNS_CLUSTER_QUERY=your_dns_cluster_query_here

# Token Signing Secret
TOKEN_SIGNING_SECRET=WezDHxO7hHhl+WqfyIDHpOuIqh9RVwl8tWnok7TmrHCpjh+4AeklenyUAFOE9Oiu

# Mailer Configuration
RESEND_API_KEY=re_RN4s7AYe_EYaXUX4QJyJGxB117qEfnEf9
BREVO_API_KEY=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

# Google OAuth2 Configuration
GOOGLE_CLIENT_ID=486343447885-9jg87vj9h0qafcdvu4k2ugb7dggbsion.apps.googleusercontent.com
GOOGLE_REDIRECT_URI=https://pre.affinew.com/auth/user/google/callback
GOOGLE_CLIENT_SECRET=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

# Email Configuration
EMAIL_NAME=Affinew
EMAIL_ADDRESS=no-reply@affinew.com
EMAIL_GROUP="Affinew:no-reply@affinew.com:re_RN4s7AYe_EYaXUX4QJyJGxB117qEfnEf9,Affinew:no-reply@mail.affinew.com:re_VLKDL44G_ABQtNXcWzBECnaHg36h6nmWk,Affinew:no-reply@send.affinew.com:re_FQ7VNrQw_9X7VggsYYMHkQHgUQGJJuGac"

# Imagor Configuration
IMAGOR_ENDPOINT=https://image.affinew.com
IMAGOR_SECRET=WpozRdSDvTKVEPkOQ+/mSWEzIPdjXRFhYLB62XBN12knQ2SRvjMmsOJ/kNJT8UgI

# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=415efd2219d218600c53964e88d8fe82
AWS_SECRET_ACCESS_KEY=78b72539f2b1daef78868904b452592790d62e00b404455e1a0384bd14f264bf

# S3 Configuration
S3_SCHEME=https
S3_HOST=9a489bdeb68e9c3976091df2de6de7d8.r2.cloudflarestorage.com
S3_PORT=443
S3_BUCKET=affinew

# ElasticSearch Configuration
ES_HOST=http://moly-elastic-yhchwx-1539fe-152-53-240-125.traefik.me
ES_USER=elastic
ES_PASSWD=jDd6frWv_D8Kh7hPykfQ
PREFIX=affinew


#Don't copy that
#RESEND_API_KEY=re_RN4s7AYe_EYaXUX4QJyJGxB117qEfnEf9 1
#RESEND_API_KEY=re_VLKDL44G_ABQtNXcWzBECnaHg36h6nmWk 2
#RESEND_API_KEY=re_FQ7VNrQw_9X7VggsYYMHkQHgUQGJJuGac 3