<div class="py-8 md:py-16 xl:py-24">
  <h1 class="text-4xl font-bold text-center text-[#431e33]">About Us</h1>
</div>


<% 
aboutus = """
Welcome to **Kidcoloringpage** – your ultimate destination for **free, printable coloring pages for children of all ages**.

Whether you're a **parent**, **teacher**, or **caregiver**, our collection is designed to be fun, educational, and easy to use. We offer thousands of **kid-friendly coloring pages**, including:

* 🦕 **Dinosaurs**
* 🐘 **Animals**
* 🔤 **Alphabet & Numbers**
* 🎄 **Holiday Themes** like Christmas, Halloween, and Easter
* 🌸 **Cute & Simple Designs**

All our pages are:

✅ 100% free to download
✅ Printable in high-quality **A4 PDF format**
✅ No sign-up required
✅ Perfect for home, classroom, or activity time

Explore, print, and enjoy! Let’s spark creativity and learning—one coloring page at a time.
"""
%>

<section class="max-w-3xl mx-auto px-4  prose prose-lg prose-primary prose-sm md:prose-base mb-12 xl:mb-24">
  {raw MDEx.to_html!(aboutus)}
</section>



