@variant dark (&:where(.dark, .dark *));

@variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* @import "tailwindcss" source("../..");
@plugin "daisyui";
@plugin "./heroicons.tailwind.plugin.js"; */

@plugin "./heroicons.tailwind.plugin.js";

@source "../js/**/*.js";
@source "../../lib/moly_web.ex";
@source "../../lib/moly_web/**/*.*ex";

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(0.985 0.002 247.839);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(61.45% 0.1984 142.68);
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: oklch(54% 0.245 262.881);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(73.12% 0.1586 237.93);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(70.38% 0.1931 149.73);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(61.92% 0.2419 11.33);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}



@theme {
  --color-green-primary: #09442b;
  --color-green-secondary: #005a02;
  --color-green-light: #92e692;
  --color-orange: #ff5000;
  --breakpoint-xs: 30rem;
  --font-sans: outfit, sans-serif;
  --default-font-feature-settings: "cv02", "cv03", "cv04", "cv11"; 
  --default-font-variation-settings: "opsz" 32;
}

@import "../node_modules/@yaireo/tagify/dist/tagify.css";
@import "../node_modules/quill/dist/quill.snow.css";
@import "../node_modules/flatpickr/dist/flatpickr.min.css";
@import "../node_modules/@splidejs/splide/dist/css/splide.min.css";

button[disabled]{
    @apply opacity-50;
}


.tagify{
    --tags-disabled-bg: rgb(243, 244, 246); /* gray-100 */
    --tags-border-color: rgb(229, 231, 235); /* gray-200 */
    --tags-hover-border-color: rgb(209, 213, 219); /* gray-300 */
    --tags-focus-border-color: rgb(107, 114, 128); /* gray-500 */
    --tag-border-radius:3px;
    --tag-bg: rgb(243, 244, 246); /* gray-100 */
    --tag-hover: rgb(229, 231, 235); /* gray-200 */
    --tag-text-color: rgb(17, 24, 39); /* gray-900 */
    --tag-text-color--edit: rgb(17, 24, 39); /* gray-900 */
    --tag-pad:0.3em 0.5em;
    --tag-inset-shadow-size:1.2em;
    --tag-invalid-color: rgb(239, 68, 68); /* red-500 */
    --tag-invalid-bg: rgba(239, 68, 68, 0.1); /* red-500 with opacity */
    --tag--min-width:1ch;
    --tag--max-width:100%;
    --tag-hide-transition:0.3s;
    --tag-remove-bg: rgba(239, 68, 68, 0.1); /* red-500 with opacity */
    --tag-remove-btn-color: rgb(75, 85, 99); /* gray-600 */
    --tag-remove-btn-bg:none;
    --tag-remove-btn-bg--hover: rgb(254, 226, 226); /* red-100 */
    --input-color:inherit;
    --placeholder-color: rgb(107, 114, 128); /* gray-500 */
    --placeholder-color-focus: rgb(107, 114, 128); /* gray-500 */
    --loader-size:.8em;
    --readonly-striped:1;
    display:inline-flex;
    align-items:flex-start;
    flex-wrap:wrap;
    border:1px solid var(--tags-border-color);
    padding:0;
    line-height:0;
    outline:0;
    position:relative;
    box-sizing:border-box;
    transition:.1s
  }

 
.while-submitting { display: none; }
.inputs { display: block; }

.phx-submit-loading .while-submitting { display: block; }
.phx-submit-loading .inputs { display: none; }
 