@variant dark (&:where(.dark, .dark *));

@variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

@plugin "./heroicons.tailwind.plugin.js";

@source "../js/**/*.js";
@source "../../lib/moly_web.ex";
@source "../../lib/moly_web/**/*.*ex";

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #F9F9F9;
  --color-base-300: oklch(92% 0 0);
  --color-base-content: #0c0c0c;
  --color-primary: #00AEEF;
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: #00335A;
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(73.12% 0.1586 237.93);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(70.38% 0.1931 149.73);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(61.92% 0.2419 11.33);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "purple";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #F9F9F9;
  --color-base-300: oklch(92% 0 0);
  --color-base-content: #0c0c0c;
  --color-primary: oklch(55% 0.288 302.321);
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: oklch(58% 0.233 277.117);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(73.12% 0.1586 237.93);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(70.38% 0.1931 149.73);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(61.92% 0.2419 11.33);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "red";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #F9F9F9;
  --color-base-300: oklch(92% 0 0);
  --color-base-content: #0c0c0c;
  --color-primary: oklch(51% 0.222 16.935);
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: oklch(45% 0.188 13.697);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(73.12% 0.1586 237.93);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(70.38% 0.1931 149.73);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(61.92% 0.2419 11.33);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "green";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #F9F9F9;
  --color-base-300: oklch(92% 0 0);
  --color-base-content: #0c0c0c;
  --color-primary: oklch(76% 0.233 130.85);
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: oklch(53% 0.157 131.589);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(73.12% 0.1586 237.93);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(70.38% 0.1931 149.73);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(61.92% 0.2419 11.33);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "orange";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #F9F9F9;
  --color-base-300: oklch(92% 0 0);
  --color-base-content: #0c0c0c;
  --color-primary: oklch(64% 0.222 41.116);
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: oklch(40% 0.123 38.172);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(73.12% 0.1586 237.93);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(70.38% 0.1931 149.73);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(61.92% 0.2419 11.33);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "yellow";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #F9F9F9;
  --color-base-300: oklch(92% 0 0);
  --color-base-content: #0c0c0c;
  --color-primary: oklch(79% 0.184 86.047);
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: oklch(55% 0.135 66.442);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(73.12% 0.1586 237.93);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(70.38% 0.1931 149.73);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(61.92% 0.2419 11.33);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "cyan";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #F9F9F9;
  --color-base-300: oklch(92% 0 0);
  --color-base-content: #0c0c0c;
  --color-primary: oklch(71% 0.143 215.221);
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: oklch(52% 0.105 223.128);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(73.12% 0.1586 237.93);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(70.38% 0.1931 149.73);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(61.92% 0.2419 11.33);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
  --breakpoint-xs: 30rem;
  --font-sans: "Bricolage Grotesque", sans-serif;
}

body{
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 20;
}