<img 
    id={Moly.Helper.generate_random_id()} 
    loading={"lazy"}
    src={Moly.Helper.get_in_from_keys(@post, [:source, "thumbnail_id", "attachment_metadata", "sizes", "medium", "file"])}
    alt={Moly.Helper.get_in_from_keys(@post, [:source, "post_title"])}
    class="object-cover rounded-2xl  w-full max-w-xs"
    style={assigns[:style]  ||  "aspect-ratio: 210/297;"}
/>