<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={assigns[:page_suffix] || " · Affinew"}>
      {assigns[:page_title] || "Find high ticket best paying affiliate programss"}
    </.live_title>
    <!--Google Fonts-->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/admin.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/admin.js"}>
    </script>
  </head>
  <body class="min-h-[100vh]">
    {@inner_content}
  </body>
</html>
