<!DOCTYPE html>
<html lang="en" data-theme="gray">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={assigns[:page_suffix] || " · #{Moly.website_name}"}>
      {assigns[:page_title] || Moly.website_title}
    </.live_title>
    <link rel="icon" type="image/png" href={Moly.website_favicon}>
    <link rel="shortcut icon" href={Moly.website_favicon} type="image/png">
    <meta name="description" content={assigns[:page_description] || Moly.website_description} />
    <%= if assigns[:meta_tags] do %>
      <meta
        :for={tag_attrs <- assigns[:meta_tags]}
        name={tag_attrs[:name]}
        property={tag_attrs[:property]}
        content={tag_attrs[:content]}
      />
    <% end %>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!--Assigns-->
    <link :if={assigns[:canonical]} rel="canonical" href={assigns[:canonical]} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <!--Script-->
    <script defer phx-track-static type="text/javascript" :for={script <- (assigns[:scripts] || [])} src={script}>
    </script>
    <!--Extra Assigns-->
    <%= for %{term_value: assign} <- Moly.website_assigns() do %>
    {raw assign}
    <% end %>
  </head>
  <body>
    {@inner_content}
  </body>
</html>