<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={assigns[:page_suffix] || " · Affinew"}>
      {assigns[:page_title] || "Find High Ticket affiliate marketing programs"}
    </.live_title>
    <%= if assigns[:meta_tags] do %>
      <meta
        :for={tag_attrs <- assigns[:meta_tags]}
        name={tag_attrs[:name]}
        property={tag_attrs[:property]}
        content={tag_attrs[:content]}
      />
    <% end %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link :if={!assigns[:noappcss]} phx-track-static rel="stylesheet" href="/assets/app.css" />
    <script
      :if={!assigns[:noappscript]}
      defer
      phx-track-static
      type="text/javascript"
      src="/assets/app.js"
    >
    </script>
    <script defer data-domain="affinew.com" src="https://analytics.karian.one/js/script.js">
    </script>
  </head>
  <body class="min-h-[100vh]">
    {@inner_content}
  </body>
</html>
