<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={assigns[:page_suffix] || " · Affinew"}>{ assigns[:page_title] || "Find High Ticket affiliate marketing programs" }</.live_title>
    <%= if assigns[:meta_tags] do %> 
      <meta :for={tag_attrs <- assigns[:meta_tags]} name={tag_attrs[:name]} property={tag_attrs[:property]}  content={tag_attrs[:content]} />
    <% end %>
    <%!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> --%>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link :if={!assigns[:noappcss]} phx-track-static rel="stylesheet" href={"/assets/app.css"} />
    <script :if={!assigns[:noappscript]} defer phx-track-static type="text/javascript" src={"/assets/app.js"}></script>
    <script defer data-domain="affinew.com" src="https://analytics.karian.one/js/script.js"></script>
  </head>
  <body class="bg-white moly-web">
    { @inner_content }
  </body> 
</html>
